<%= render  'layouts/nameplate' %>



<section id="setup" class="span-19">
<%= render  'layouts/sidebar' %>

<h3>Education</h3>

<p class="company">
Web technologies
</p>
<ul>
	<li>Nashville Software School, charter class, 2012</li>
	<li>Coursera and University of Cal/Berkely charter online class, Software Engineering for Software as a Service, 2012</li>
	<li>Pragmatic Studio, Ruby on Rails, 2009</li>
</ul>


<p class="company">
Photojournalism
</p>
<ul>
	<li>2nd Annual Electronic Photojournalism Workshop, photo editor, 1990 (team tested first digital SLR that was primogenitor to modern-day DSLR's.</li>
</ul>

<p class="company">
Formal education
</p>
<ul>
	<li>University of Georgia, aBJ in Journalism, minor in Religion, 1985</li>
</ul>


<p class="company">
Et cetera ...
</p>
<ul>
	<li>Too many seminars and conferences attended to list here, other than I am present at several a year. Nearly all of them at my own expense.</li>
</ul>

<div class="clearfix"></div>


</section><!---- setup --->
