


<%= render  'layouts/nameplate' %>

<section id="sidebar" class="span-7">
<section id="objective">
<h2>Passionate about ...</h2>
  <ul>
	<li>Solving problems</li>
	<li>Tools and Applications</li>
	<li>Pivoting the business to exploit the internet</li>
	<li>Remote platforms</li>
</ul>

<p class="base">
Lead a creative and selfless team as COO of a mid-sized software development firm.
</p>
</section>
