


<%= render  'layouts/nameplate' %>



<section id="setup" class="span-19">
<%= render  'layouts/sidebar' %>

<h3>Experience</h3>

<p class="company">
Current
</p>
<p class="base">
Web development using Ruby on Rails. My current project is building a application for a bootstrap startup while seeking other opportunities. I've built several example web applications using online and book tutorials and I've built my first which is an online resume generator to generate focused resumes using my OS X server, or Heroku, as needed.
</p>

<p class="company">
Grizzard, Inc., Atlanta, Ga.
</p>
<p class="base">
Production Art Department/Studio Manager and Production Supervisor from March 1995 to November, 2011. To help our team increase quality, I wrote several applets to solve problems and automate document building using Applescript. Oversaw year-over-year continuous increase in productivity by building processes for accuracy, cost reduction and keeping pleased customers by increasing quality and throughput. Led my production art team to become respected among production teams internally, and from outside vendors after plant shutdown. 
</p>

<p class="company">
Newspapers, etc
</p>
<p class="base">
Worked at many daily newspapers in college and seven years after, from award-winning photojournalist to front-page editor. 
</p>


<div class="clearfix"></div>


</section><!---- setup --->
