<%= render  'layouts/nameplate' %>



<section id="setup" class="span-19">
<%= render  'layouts/sidebar' %>

<h3>Skills</h3>

<p class="company">
Web technologies
</p>
<ul>
	<li>Scripting technologies: Applescript for gluing Macintosh apps together for cost-effective solutions. Javascript for augmenting the web UI experience.</li>
	<li>HTML5 and CSS to solve difficult problems.</li>
	<li>Ruby on Rails: Skill for simple apps and continuous improvement.</li>
</ul>


<p class="company">
Databases
</p>
<ul>
	<li>Filemaker Pro, built several db for profit and fun.</li>
	<li>SQL: using PostgreSQL, mySQL and SQLite for supporting applications.</li>
	<li>Bash: Using UNIX to automate faceless services that run in the background.</li>
</ul>

<p class="company">
Production
</p>
<ul>
	<li>A subject-matter-expert on Adobe Creative Suite Production applications.</li>
	<li>Built several applications to repurpose data for InDesign and QuarkXpress for customer files.</li>
	<li>Deep knowledge of Variable Imaging, Print, Mail production with emphasis on US Postal regulations.</li>
	<li>Built specialized applications for mass-production variable PDFs for production.</li>
</ul>


<p class="company">
Managment
</p>
<ul>
	<li>Led as few as one, to as many as eleven in four departments to work seamlessly with each other and with other teams to create flawless output for the customer.</li>
	<li>Managing customer expectations to ensure repeat business and loyalty</li>
	<li>Hiring/firing, P&L ability and building processes for adaptability and responsiveness </li>
</ul>


<p class="company">
Et cetera ...
</p>
<ul>
	<li>Analytical and detail oriented. Dealing with multiple projects with different timelines.</li>
</ul>

<div class="clearfix"></div>


</section><!---- setup --->
