#bg {
	width: 90%;
	margin: 10px auto;
	padding: 5px;
	background-color: #FFE1AE;

}

.subhed {
	font-weight: bolder;
	font-size: 15px;
}

.centre {
    text-align: center;
}

.tight {
    margin: 0 0 0;
}

.mybold {
    font-weight: bold;
    font-size: 1.2em;
}

p {
    font-family: Nunito,sans-serif;
    margin-left: 20px;
}

#background, #address, #objective, #recent, #experience, #skills, #education, #references, #space {
    margin-bottom: 0;
    padding: 5px;
}

