// Place all the styles related to the openings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$left-margin: 10px;

p {font-family: Nunito, sans-serif; margin-left:20px;}

h1, h2, h3, h4, h5, h6 {font-family: 'Nunito', sans-serif; font-weight: bold;}

.feature {
  background-color:#ffe1ae;
  padding: 25px;
}

header {
border:5px solid #3D0C00;
margin:10px;
background-color:#ffe1ae;
height: 70px;
padding-left: 10px;
padding-right: 10px;
}

#name1 {
  padding-left: 15px;

}

.myname {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  font-size:60px;
  vertical-align:-1%;
  position:relative;
  top : -.2em;
  float:left;
}

footer {
width:750px;
padding:10px;
border:5px solid #3D0C00;
margin:10px;
clear:both;
background-color:#ffe1ae;
font-family: Georgia, serif;
}

nav  ul {
       font-family: 'Nunito', sans-serif;
       font-size: 15px;
       margin:0px;
       padding: 0px;
  }
  
nav  ul li {
       list-style: none;
       display:inline;
  }
  
nav  ul li a {
       display:block;
       float:left;
       background:#ffe1ae;
       color:black;
       padding:2px 15px 0px 15px;
       text-decoration:none;
       
  }
  
nav  ul li a:hover {
       background:#681400;
       text-transform:uppercase;
  }

  


#add1 {
  width:200px;
  font-family: Nunito, sans-serif;
  font-weight: normal;
  font-size:18px;
  margin-left:40px;
  padding: 5px;
  vertical-align: bottom;
  float:left
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

#myside {
  float:right;
}

#sidebar {
padding:10px;
border:5px solid #3D0C00;
margin:20px 5px 10px 20px;
background-color:#fcbfaf;
font-family: Nunito;

}

 #sidebar ul  {
       font-family: 'Nunito', sans-serif;
       font-weight: normal;
       font-size: 17px;
       margin:15px;
       padding: 0px;
  }
  
  #sidebar li {
    margin: 12px;
  }
  

.base {
 font-family: Nunito, sans-serif;
 font-weight: normal;
 font-size: 105%;
}

.company {
  font-family: Nunito, sans-serif;
  font-weight: bold;
  font-size: 105%
}

#setup {
  float: left;
  padding:10px;
  border:5px solid #3D0C00;
  margin:40px;
  background-color:#ffe1ae;
  font-family: Nunito;

}

#setup ul {
  font-size: 14px;
}

.button {
       float: left;
       font-weight:bold;
       position: relative;
       background:#D2D2D2;
       color:black;
       padding:15px;
       border:2px solid;
       border-radius:10px;
}

#myButton {
  height: 50px;
  float: right;
  margin-right:-60px;
}

#myButton a:link {
  color: #681400; 
  text-decoration: none;
       font-weight:bold;
}

#test {
  background:#303030;
  width: 200px;
  height: 100px;
  float: right;
}

.dead {
         background:#D2D2D2;;
       color:black;
       padding:15px;
       border:2px solid;
       border-radius:10px;

}

/*	--------------------------------------------------
	Reveal Modals
	-------------------------------------------------- */
		
	.reveal-modal-bg { 
		position: fixed; 
		height: 100%;
		width: 100%;
		background: #000;
		background: rgba(0,0,0,.8);
		z-index: 100;
		display: none;
		top: 0;
		left: 0; 
		}
	
	.reveal-modal {
		visibility: hidden;
		top: 100px; 
		left: 50%;
		margin-left: -300px;
		width: 647px;
		background: #eee url(modal-gloss.png) no-repeat -200px -80px;
		position: absolute;
		z-index: 101;
		padding: 30px 40px 34px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		-moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
		-webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
		-box-shadow: 0 0 10px rgba(0,0,0,.4);
		}
		
	.reveal-modal.small 		{ width: 200px; margin-left: -140px;}
	.reveal-modal.medium 		{ width: 400px; margin-left: -240px;}
	.reveal-modal.large 		{ width: 600px; margin-left: -340px;}
	.reveal-modal.xlarge 		{ width: 800px; margin-left: -440px;}
	
	.reveal-modal .close-reveal-modal {
		font-size: 22px;
		line-height: .5;
		position: absolute;
		top: 8px;
		right: 11px;
		color: #aaa;
		text-shadow: 0 -1px 1px rbga(0,0,0,.6);
		font-weight: bold;
		cursor: pointer;
		} 

	.button { background: #222 url(/assets/over-button.png) repeat-x 0 0; 
	  display: inline-block; padding: 5px 15px 6px; color: #fff !important; 
	  font-size: 13px; font-weight: bold; line-height: 1; text-decoration: none; 
	  -moz-border-radius: 5px; -webkit-border-radius: 5px; -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.25); 
	  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.25); text-shadow: 0 -1px 1px rgba(0,0,0,0.25); 
	  border-bottom: 1px solid rgba(0,0,0,0.25); position: relative; cursor: pointer; 
	  overflow: visible; width: auto; }
	button::-moz-focus-inner { border: 0; padding: 0; }
	
	.button:hover { background-color: #111; color: #fff; }
	.button:active { -webkit-transform: translateY(1px); -moz-transform: translateY(1px); }
	.large.button { font-size: 14px; padding: 8px 19px 9px; }
	.green.button { background-color: #91bd09; }
	.silver.button { background-color: #9daeb3; }
	.silver.button:hover { background-color: #889ca2; }
	.green.button:hover { background-color: #749a02; }

/* Modal overlay css */
#ModalOverlay  
{
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    height:100%;
    width:100%;
    margin:0;
    padding:0;
    background:#000;
    opacity:.8;
    filter: alpha(opacity=60);
    -moz-opacity: 0.6;
    display: none;
    z-index: 10;
}
                        
/* Dialog css */
#ContentDialog 
{
    display: none;
    position: absolute;
    width: 500px;
    height: 420px;
    top: 10px;
    left: 50%;
    margin-left: -450px;
    z-index: 100;
    padding: 10px;
    background: #ce5a5f;
}

#ContentDialog h2 
{
    margin: 0 0 2px 0;
    padding: 0;
}

#ContentDialog #ContentDialogContent 
{
    margin: 0 0 10px 0;
    padding: 0;
    height: 440px;
    overflow-x: hidden;
}

