  <div class="span-18 last" id="background"> 
<div id="address"  class="span-11"> 
<p class="str tight">Sam Walton</p> 
<p class="tight">7540 Harper Rd</p> 
<p class="tight">Joelton, TN 37080, near Nashville, TN</p> 
<p class="tight">615-495-7783 &bull; sam@samwalton.me</p> 
</div>
  <div class="span-4">
  <%= link_to image_tag("linkedinss.png",  :border => 0), "http://www.linkedin.com/in/samwalton0", {:class => 'dock-item', :alt => "Linked In"} %>
  </div>
  <div class="span-1 last">
  <%= link_to image_tag("github_logoss.gif", :border => 0), "https://github.com/sam452", {:class => 'dock-item', alt: "Github"} %>
  </div>  
</div> 
