<header class="span-19 push-1 last subhed"> 
<section id="name1">
<span class="myname">
Sam W. Walton
</span>
</section>
<section id="add1">
Joelton, TN
<br />
@sam452
</section>

<div class="clearfix"></div>
<nav class="span-19 last">
<ul>
	<li><%= link_to "What I've done", welcome_index_path %></li>
	<li><%= link_to "What I'm good at", welcome_skills_path %></li>
	<li><%= link_to "Where I've learned", welcome_education_path %></li>
</ul>

</nav>


</header>