<header class="span-19 push-1 last subhed"> 
<section id="name1">
<span class="myname">
Sam W. Walton
</span>
</section>
<section id="add1">
Joelton, TN
<br />
@sam452
</section>

<div class="clearfix"></div>
<nav class="span-19 last">
<ul>
	<li><a href="waltons_ex9.htm">What I've done</a></li>
	<li><a href="skill.htm">What I'm good at</a></li>
	<li><a href="educ.htm">Where I've learned</a></li>
</ul>

</nav>


</header>