<%= link_to "Sam W. Walton", root_path, :class => 'brand' %>
<ul class="nav pull-right">
  <li>
    <%= link_to "What I've done", welcome_index_path %>
    </li>
    <li>
    <%= link_to "What I'm good at", welcome_skills_path %>
    </li>
  <li>
    <%= link_to "Where I've learned", welcome_education_path %>
    </li>
</ul>