<div class="navbar navbar-fluid-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Sam W. Walton</a>
          <div class="container-fluid nav-collapse">
            <ul class="nav">
              <li><%= link_to "What I've done", welcome_index_path  %></li>
              <li><%= link_to "What I'm good at", welcome_skills_path  %></li>
              <li><%= link_to "Where I've learned", welcome_education_path  %></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>