<div id="myside">
  <div id="sidebar">
    <h2>Passionate about ...</h2>
    <ul>
  	<li>Pivoting the business to exploit the internet</li>
  	<li>Platforms that build people and the business</li>
  	<li>Solving problems</li>
  	<li>Tools and Applications</li>
    </ul>

  </div> 
  

  <div id="myButton">
    
    <%= link_to 'Get more info', contact_us_path, :class => 'large green button contentDialog'  %>
  </div> 




</div> 
