<div id="myside" class="span-8 last">
<div id="sidebar">
<h2>Passionate about ...</h2>
  <ul>
	<li>Pivoting the business to exploit the internet</li>
	<li>Platforms that build people and the business</li>
	<li>Solving problems</li>
	<li>Tools and Applications</li>
  </ul>

  </div> 
  

  <div id="myButton" class="span-7">
    
    <%= link_to 'Get more info', contact_us_path, :class => 'large silver button contentDialog'  %>
  </div> 


</div> 
